{% extends "_base.html" %}

{% load staticfiles %}

{% block title %}Sign Up | GeoSnapr{% endblock title %}

{% block description %}Sign up page for the GeoSnapr web application.{% endblock description %}

{% block resources %}
<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:700,400' rel='stylesheet' type='text/css'>
{% endblock resources %}


{% block content %}
<div class="row">
  <div class="columns large-6">
    <p>Register for a GeoSnapr account here!</p>
  </div>

  <div class="columns large-6">
    <form data-abide action="/register" method="POST">
      {% csrf_token %}
      <input type="text" name="first_name" placeholder="First Name" required/>
      <input type="text" name="last_name" placeholder="Last Name" required/>
      <input type="text" name="username" placeholder="Username" required/>
      <input type="email" name="email" placeholder="Email" required/>
      <input type="password" name="password" placeholder="Password" required/>
      <input type="password" name="confirm_password" placeholder="Confirm Password" required/>
      <button type="submit">Register</button>
    </form>
  </div>

{% endblock content %}
