<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="description" content="{% block description %}{% endblock description %}">
    <meta name="author" content="FrebApps">
    <meta name="copyright" content="I don't know how to get a copyright.">

    <link rel="stylesheet" href="{% static "foundation/css/foundation.css" %}">
    <link rel="stylesheet" href="{% static "foundation/css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "css/geosnapr.css" %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>

    <script src="{% static "foundation/js/jquery.js" %}"></script>
    <script src="{% static "foundation/js/modernizr.js" %}"></script>
    <script src="{% static "foundation/js/foundation.min.js" %}"></script>
    <script src="{% static "foundation/js/fastclick.js" %}"></script>

    {% block resources %}
    {% endblock resources %}

  </head>
  <body>
    {% block content %}{% endblock content %}

    <script type="text/javascript">
        $(document).foundation();
    </script>
  </body>
</html>
