{% extends "_base.html" %}

{% load staticfiles %}

{% block title %}Login | GeoSnapr{% endblock title %}

{% block description %}Login page for the GeoSnapr web application.{% endblock description %}

{% block resources %}
<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:700,400' rel='stylesheet' type='text/css'>
<link href="{% static "slick/slick.css" %}" rel="stylesheet" type='text/css'>
<link href="{% static "slick/slick-theme.css" %}" rel="stylesheet" type='text/css'>
<script src="{% static "js/index.js" %}"></script>
<script src="{% static "jqueryui/jquery-ui.js" %}"></script>
{% endblock resources %}

{% block content %}

<div class="viewport">

  <div class="row viewport carousel-back">
    <div class="columns large-12 medium-12 small-12 no-pad-left no-pad-right hideoverflowx">
      <div class="background-carousel">
        <div><img src="{% static "img/background3.jpg" %}" class="min-height"/></div>
        <div><img src="{% static "img/background5.jpg" %}" class="min-height"/></div>
        <div><img src="{% static "img/background2.jpg" %}" class="min-height"/></div>
        <div><img src="{% static "img/background4.jpg" %}" class="min-height"/></div>
        <div><img src="{% static "img/background1.jpg" %}" class="min-height"/></div>
        <div><img src="{% static "img/background6.jpg" %}" class="min-height"/></div>
        <div><img src="{% static "img/background7.jpg" %}" class="min-height"/></div>
      </div>
    </div>
  </div>

  <div class="overlay" id="overlay">
    <div class="row full-width no-pad-left no-pad-right">
      <div class="columns large-2 large-offset-10 medium-2 medium-offset-10 small-2 small-offset-10 no-pad-left no-pad-right sign-up-top-margin">
        <a href="#" data-reveal-id="registerModal" class="button radius">Sign Up</a>
      </div>
    </div>

    <div class="row">
      <div class="columns large-6 large-offset-4 medium-8 medium-offset-2 small-12">
        <h4 class="josefin font-large">GeoSnapr</h1>
        <h6 class="josefin font-small">Your photos. Your world.</h6>
      </div>
    </div>

    <div class="row">
      <div class="columns large-4 large-offset-4 medium-8 medium-offset-2 small-12" id="login-form">
        <form action="{% url 'login' %}" method="POST">
          {% csrf_token %}
          <input type="text" name="username" placeholder="Username" required/>
          <input type="password" name="password" placeholder="Password" required/>
          <button type="submit" class="button radius">Log In</button>
        </form>
      </div>
    </div>
  </div>

  <div id="registerModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3 id="modalTitle">Register for an account:</h3>
    <form data-abide action="{% url 'register' %}" method="POST">
      {% csrf_token %}
      <input type="text" name="first_name" placeholder="First Name" required/>
      <input type="text" name="last_name" placeholder="Last Name" required/>
      <input type="text" name="username" placeholder="Username" required/>
      <input type="email" name="email" placeholder="Email" required/>
      <input type="password" name="password" placeholder="Password" required/>
      <input type="password" name="confirm_password" placeholder="Confirm Password" required/>
      <button type="submit" class="button">Register</button>
    </form>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>

  <div id="teamModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h3 id="teamModal">The Team:</h3>
    <form data-abide action="{% url 'register' %}" method="POST">
      {% csrf_token %}
      <input type="text" name="first_name" placeholder="First Name" required/>
      <input type="text" name="last_name" placeholder="Last Name" required/>
      <input type="text" name="username" placeholder="Username" required/>
      <input type="email" name="email" placeholder="Email" required/>
      <input type="password" name="password" placeholder="Password" required/>
      <input type="password" name="confirm_password" placeholder="Confirm Password" required/>
      <button type="submit" class="button">Register</button>
    </form>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>

  <div id="accordion" class="accordion full-width">

    <div class="accheader acc1">
      <h3 class="accheadertitle josefin">GeoSnapr?</h3>
    </div>

    <div class="acccontent acc1-content">
      <div class="row">
        <div class="columns large-2">
          <img src="{% static "img/map-icon.png" %}">
        </div>
        <div class="columns large-4">
          <p>This is GeoSnapr.</p>
          <p>It's a web based application where you can upload your photos.</p>
          <p>Choose locations for your photos and browse them on a map.</p>
        </div>
        <div class="columns large-2">
          <img src="{% static "img/camera-icon.png" %}">
        </div>
        <div class="columns large-4">
          <p>Share photos with your friends and family.</p>
        </div>
      </div>
    </div>

    <div class="accheader acc2">
      <h3 class="accheadertitle josefin">The Details</h3>
    </div>

    <div class="acccontent acc2-content">
      <div class="row">
        <div class="columns large-6">
          <p>Something</p>
        </div>
        <div class="columns large-6">
          <p>Something else.</p>
        </div>
      </div>
    </div>


    <div class="accheader acc3">
      <h3 class="accheadertitle josefin">The Fine Print</h3>
    </div>

    <div class="acccontent acc3-content">
      <div class="row">
        <div class="columns large-6">
          <p>Meet the team behind GeoSnapr</p>
          <p>Contact Us</p>
        </div>
        <div class="columns large-6">
          <p>Some other fine print stuff<p>
        </div>
      </div>
    </div>

  </div>


</div>

<script type="text/javascript" src="{% static "slick/slick.js" %}"></script>
{% endblock content %}
