{% extends "_base.html" %}

{% load staticfiles %}

{% block title %}GeoSnapr{% endblock title %}

{% block resources %}
<link href="{% static "slick/slick.css" %}" rel="stylesheet" type='text/css'>
<link href="{% static "slick/slick-theme.css" %}" rel="stylesheet" type='text/css'>
<link href="{% static "select2/css/select2.min.css" %}" rel="stylesheet" type='text/css'>
<link href="{% static "sidr/jquery.sidr.dark.css" %}" rel="stylesheet" type="text/css">

<script src="{% static "infobubble/infobubble.js" %}"></script>
<script src="{% static "sidr/jquery.sidr.min.js" %}"></script>
<script src="{% static "js/image.js" %}"></script>
<script src="{% static "js/maps.js" %}"></script>
<script src="{% static "jqueryui/jquery-ui.js" %}"></script>
<script src="{% static "jQuery-fileExif/jquery.exif.js" %}"></script>
<script src="{% static "react/react.js" %}"></script>
<script src="{% static "react/react-with-addons.js" %}"></script>
<script src="{% static "react/react-dom.js" %}"></script>
<script src="{% static "markerclusterer/markerclusterer.js" %}"></script>
<script src="{% static "js/maps-initialize.js" %}"></script>
{% endblock resources %}

{% block content %}
<div class="mapsize" id="map-canvas">
</div>

<div class="row viewport">
  <div class="columns large-4 medium-6 small-12 top-margin-small">
      <input type="text" id="locationsearch" placeholder="Search..."/>
  </div>
  <div class="columns large-2 large-offset-2 medium-3 small-6 top-margin-small end">
    {% include "__album_select.html" with id="map-albums" all_images=True %}
  </div>

  <div class="columns large-1 large-offset-3 medium-1 medium-offset-2 small-3 small-offset-3 user-margin">
    <a id="sidrtoggle" href="#sidr"><img src="{% static "img/user-small.png" %}" class="user-image"></a>
  </div>
</div>

<div class="alert-box success" id="message" style="display: none;">
  <a class="close" href="#">×</a>
</div>

<div id="sidr">
  <ul>
    <li><a href="#" id="edit-profile" data-reveal-id="editProfileModal">Edit Profile</a></li>
    <li><a href="#", id="get-api-key", data-reveal-id="apiKeyModal">View API Key</a></li>
    <li><a href="{%url 'logout' %}">Logout</a></li>
  </ul>
</div>

<div id="accordion" class="accordion full-width row overflow-hidden">
  <div class="accheader create columns large-3 large-offset-9">
    <h3 class="accheadertitle josefin">Create</h3>
  </div>
  <div class="create-content columns large-3 large-offset-9">
    <a href="#" data-reveal-id="uploadModal" class="button round expand">Upload New Image</a>
    <a href="#" data-reveal-id="createAlbumModal" class="button round expand">Create New Album</a>
    {% if user.profile.insta_access_key %}
    <a href="{{insta_account_url}}">
      <div tabindex="0" class="button success expand">
        <p class="josefin inline">Instagram Linked</p>
        <img src="{% static "img/insta_glyph_colored.png" %}" alt="Instagram" class="oauth-img tip-top inline" data-tooltip aria-haspopup="true" title="View your Instagram app permissions">
      </div>
    </a>
    {% else %}
    <a href="{{insta_auth_url}}">
      <div tabindex="0" class="button alert expand">
        <p class="josefin inline">Link your Instagram</p>
        <img src="{% static "img/insta_glyph_colored.png" %}" alt="Instagram" class="oauth-img faded tip-top inline" data-tooltip aria-haspopup="true" title="Link your account to Instagram!">
      </div>
    </a>
    {% endif %}
  </div>
</div>



<!-- Pop-up modals -->

{% include "modals/__photoModal.html" %}

{% include "modals/__albumModal.html" %}

{% include "modals/__uploadModal.html" %}

{% include "modals/__createAlbumModal.html" %}

{% include "modals/__editProfileModal.html" %}

{% include "modals/__confirmDeleteModal.html" %}

{% include "modals/__apiKeyModal.html" %}

<script type="text/javascript" src="{% static "slick/slick.js" %}"></script>
<script type="text/javascript" src="{% static "spin/spin.min.js" %}"></script>
<script type="text/javascript" src="{% static "select2/js/select2.min.js" %}"></script>
{% endblock content %}
