{% extends "_base.html" %}

{% load staticfiles %}

{% block title %}GeoSnapr{% endblock title %}

{% block resources %}
<script src="{% static "js/maps.js" %}"></script>
<script src="{% static "jQuery-fileExif/jquery.exif.js" %}"></script>
{% endblock resources %}

{% block content %}
<div class="mapsize" id="map-canvas">
</div>

<div class="row viewport">
  <div class="columns large-4 top-margin-small">
    <form>
      <label><input type="text" id="locationsearch" placeholder="Search..."/></label>
    </form>
  </div>
</div>

<div class="upper-right">
  <a href="#" data-reveal-id="editProfileModal" class="button small radius">Edit Profile</a>
  <a href="{%url 'logout' %}" class="button small radius">Logout</a>
</div>

<a href="#" data-reveal-id="uploadModal" class="button large round bottom-left">Upload New Image</a>

<!-- Pop-up modals -->

<div id="uploadModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Upload new image</h2>
  <form id="upload-img-form" action="{% url 'upload' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="pic" class="file-input" id="upload-file">
    <img id="upload-img" />

    <fieldset class="hidden" id="img-loc-form">
      <input type="text" name="lat" placeholder="latitude">
      <input type="text" name="lng" placeholder="longitude">
      <input type="text" name="caption" placeholder="caption">
      <button type="submit" id="upload-img-btn">Add Image!</button>
    </fieldset>
  </form>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="editProfileModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Edit Profile</h2>
  <p class="hidden" id="profile-notification"></p>
  <form id="edit-profile-form" data-abide="ajax" action="{% url 'edit_profile' %}" method="POST">
    {% csrf_token %}
    <div class="input-wrapper">
      <label for="first_name">First Name:
        <input type="text" name="first_name" placeholder="First Name" value="{{user.first_name}}" required>
      </label>
      <small class="error">First name is required.</small>
    </div>
    <div class="input-wrapper">
      <label for="last_name">Last Name:
        <input type="text" name="last_name" placeholder="Last Name" value="{{user.last_name}}" required>
      </label>
      <small class="error">Last name is required.</small>
    </div>
    <div class="input-wrapper">
      <label for="email">Email:
        <input type="email" name="email" placeholder="Email" value="{{user.email}}" required>
      </label>
      <small class="error">Email is required.</small>
    </div>
    <div class="input-wrapper">
      <input id="password" type="password" name="password" placeholder="New Password">
    </div>
    <div class="input-wrapper">
      <input type="password" name="confirm_password" placeholder="Confirm New Password" data-equalto="password">
      <small class="error">Passwords must match</small>
    </div>

    <button type="submit" id="edit-profile-btn">Edit</button>
  </form>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
{% endblock content %}
