.login-bar {
    margin-top: 25px;
}

.button-inline {
    padding: 0.725rem 1.75rem 0.7775rem 1.75rem;
    font-size: 0.8125rem;
}

.josefin {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.font-large {
  font-weight: 700;
  font-size: 4em;
}

.font-small {
  font-weight: 400;
  font-size: 1em;
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5em;
}

.mapsize {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #000000
}

.full-width {
  background-color: #ff0000;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.viewport {
  height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}

.full {
  min-height: 100%;
  min-width: 100%;
}

.min-height-img {
  min-width: 100vw;
  max-width: 100vw;
}

.background {
  background-color: #CCFF32;
}

.hideoverflowx {
  overflow-x: hidden;
}

.logo-overlay {
  position: absolute;
  top: 5em;
}

.overlay {
  position: absolute;
  top: 20em;
}


.no-pad-right {
padding-right: 0;
}
.no-pad-left{
padding-left: 0;
}

fieldset.hidden {
  display: none;
}