/* Login Page CSS Styling */

.viewport { /* fills viewport of the page */
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  overflow: hidden;
}

.carousel-back { /* sends the carousel to the background */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.overlay { /* overlays the forms onto the carousel */
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.relative-position {
  position: relative;
}

.no-pad-right {
padding-right: 0;
}

.no-pad-left{
padding-left: 0;
}

.sign-up-top-margin {
  margin-top: 1em;
}

.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

/* Map Page CSS Styling */

.image-fit {
  max-height: 75vh;
  width: auto;
}

.login-bar {
    margin-top: 25px;
}

.pac-container {
  z-index: 1050 !important;
}

.bottom {
  position: fixed;
  bottom: 0;
  margin-bottom: 2%;
}

.bottom a {
  display: inline;
  margin-left: 1%;
}

.upper-right {
  position: fixed;
  top: 1%;
  right: 1%;
}

.header {
  margin-top: 5%;
}

.oauth-img {
  width: 42px;
  height: 42px;
}

.faded {
  opacity: .5;
}

#login-form {
  margin-top: 7%;
}

.button-inline {
    padding: 0.725rem 1.75rem 0.7775rem 1.75rem;
    font-size: 0.8125rem;
}

.josefin {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}

.back {
  position: relative;
  z-index: -1;
}

.font-large {
  font-weight: 700;
  font-size: 4em;
}

.font-small {
  font-weight: 400;
  font-size: 1em;
}


.mapsize {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #000000
}

.full {
  min-height: 100%;
  min-width: 100%;
}

.min-height {
  min-height: 100vh;
  overflow: hidden;
}

.background {
  background-color: #CCFF32;
}

.hideoverflowx {
  overflow-x: hidden;
}

.back {
  position: relative;
  z-index: -1 !important;
}

.logo-overlay {
  position: relative;
  z-index: 1 !important;
  top: 3em;
}



fieldset.hidden {
  display: none;
}

.success {
  color: green;
}

.error {
  color: red;
}

.thumbnail {
  position: relative;
  width: 30em;
  height: auto;
  z-index: 1000000;
}

.top-margin {
  margin-top: 2em;
}

.top-margin-small {
  margin-top: 1em;
}

/* Map Display CSS */

.infowindow-container {
  min-width: 30vw;
}

.thumbnail-container {
  max-height: 20em;
  max-width: 20em;
  min-height: 20em;
  min-width: 20em;
  overflow: hidden;
}

.thumbnail {
  min-width: 20em;
  max-width: 20em;
}

.slick-prev:after {
  content: "<";
  color: red;
  font-size: 30px;
}
.slick-next:after {
  content: ">";
  color: red;
  font-size: 30px;
}

#insta-images div div.slick-slide {
  margin-left: 5px;
  margin-right: 5px;
}

#upload-img {
  width: 200px;
}

#selected-img {
  border-color: green;
  border-style: solid;
  border-width: 3px;
}

.tab-title a {
  background-color: #f2f2f2 !important;
}

.tab-title.active a {
  background-color: #cccccc !important;
}

#message {
  position: fixed;
  top: 2%;
  left: 40%;
  font-size: 12pt;
}

select {
  font-size: 0.875rem;
}




/* Google Maps InfoWindow CSS */
.gm-style-iw {
   top: 0 !important;
   left: 0 !important;
}
